html{
    scroll-behavior: smooth;
}

body{
    background-color: #13141b;
    color: #ffffff;
    background-image: url(images/bg-image.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.form-control{
    background-color:rgba(255, 255, 255, 0.2);
    padding: 22px;
    border: none;
    border-radius: 25px;
}
.btn{
    border-radius: 1.5rem;
    padding: 9px 20px;
}

.green-glow{
    box-shadow: 1px 1px 15px rgb(47, 255, 47);
}

.btn-privious{
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}
.navbar-toggler {
    border: none;
}
.search-box{
    position: relative;
}
.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.single-result{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

#single-result{
    display: none !important;
}

#lyric-container{
    display: none;
}

#error-message-song, #error-message-lyric{
    margin: 10em 20em;
    border-radius: 20px;
    background-color: rgba(94, 224, 137, 0.226);
    padding: 0.5em;
    display: none;
}